<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <a class="form-inline my-2 my-lg-0 btn btn-success"  href="#">Log In</a>
  </div>
</nav>
<br/>
<div class="container">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="card border-primary mb-3">
                <div class="card-header"></div>
                <div class="card-body">
                    <h4 class="card-title">Log In</h4>
                    
                    <form method="POST" action="/login">
                        <fieldset>
                           <div class="form-group">
                                <input type="text" name="username" autocomplete="off" autofocus class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                            </div>
                            <div class="form-group">
                                <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </fieldset>
                    </form>

                </div>
            </div>
        </div>
        <div class="col-md-2">           
        </div>
    </div>

</div>